@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 9% 14%;

    --card: 0 0% 100%;
    --card-foreground: 220 9% 14%;

    --popover: 0 0% 100%;
    --popover-foreground: 220 9% 14%;

    --primary: 220 9% 14%;
    --primary-foreground: 0 0% 98%;

    --secondary: 220 9% 96%;
    --secondary-foreground: 220 9% 14%;

    --muted: 220 9% 96%;
    --muted-foreground: 220 9% 46%;

    --accent: 220 9% 96%;
    --accent-foreground: 220 9% 14%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 9% 90%;
    --input: 220 9% 90%;
    --ring: 220 9% 14%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 220 9% 6%;
    --foreground: 0 0% 98%;

    --card: 220 9% 9%;
    --card-foreground: 0 0% 98%;

    --popover: 220 9% 9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 220 9% 14%;

    --secondary: 220 9% 14%;
    --secondary-foreground: 0 0% 98%;

    --muted: 220 9% 14%;
    --muted-foreground: 220 9% 64%;

    --accent: 220 9% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 9% 14%;
    --input: 220 9% 14%;
    --ring: 220 9% 82%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
